/* Type your code here */


/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 750px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}
body{
	background-image:url("assets/background-image1.png");
	background-repeat: no-repeat;
	background-size: 1400px 750px;
	
	
}

table ,th ,td{
	border-bottom: 1px solid grey;
	border-collapse: collapse;
	padding: 10px;
	background-color: white;


}
th{
	background:red;
}
table{
	width:75%;
}